.card {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-header {
  padding: 1.5rem;
}

.form-control-lg {
  border-radius: 8px;
}

.btn-lg {
  border-radius: 8px;
  padding: 12px;
}

.alert {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .card {
    margin: 20px;
  }
  
  .card-body {
    padding: 1.5rem !important;
  }
}